apiVersion: apps/v1
kind: Deployment

metadata:
  name: moisei-site
  namespace: dev
  labels:
    app: moisei-site

spec:
  replicas: 2
  
  selector:
    matchLabels:
      app: moisei-site

  template:
    metadata:
      labels:
        app: moisei-site

    spec:
      containers:
      - name: moisei-site               
        image: dyldug/moisei-app:latest

        ports:
        - containerPort: 5000

        readinessProbe:
          httpGet:
            path: /
            port: 5000
          initialDelaySeconds: 5
          periodSeconds: 10

        livenessProbe:
          httpGet:
            path: /health
            port: 5000

        resources:                
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "500m"
            memory: "256Mi"