{% extends "base.html" %}

{% block title %}Moisei gallery{% endblock %}

{% block content %}
  <h1>Moisei Magazine</h1>
  <p>kimdotcom</p>

  <div class="gallery">
    <a href="https://www.instagram.com/moisei_mag/p/DSNBiGziL-2/">
      <div class="blur-load" style="background-image: url(static/images/ex2-small.jpg)">  
        <img
          src="static/images/ex2.png"
          loading="lazy"
          decoding="async"
          alt="ex2">
      </div>
    </a>
    <a href="https://www.instagram.com/moisei_mag/p/DSfKWb2CKRF/">
    <div class="blur-load" style="background-image: url(static/images/ex3-small.jpg)">
      <img
        src="static/images/ex3.png"
        loading="lazy"
        decoding="async"
        alt="ex2">
    </div>
    </a>
  </div>

{% endblock %}