{% extends "base.html" %}

{% block title %}Moisei gallery{% endblock %}

{% block content %}
  <h1>Moisei Magazine</h1>
  <p>kimdotcom</p>

  <div class="gallery">
    <a href="https://www.instagram.com/moisei_mag/p/DSNBiGziL-2/">
      <img
        src="static/images/ex2.jpeg"
        loading="lazy"
        decoding="async"
        alt="ex2">
    </a>
    <a href="https://www.instagram.com/moisei_mag/p/DSfKWb2CKRF/">
      <img
        src="static/images/ex3.jpeg"
        loading="lazy"
        decoding="async"
        alt="ex2">
    </a>
  </div>

{% endblock %}