{% extends "base.html" %}

{% block title %}Moisei{% endblock %}

{% block content %}

  <br>

  <h1>Moisei Magazine</h1>
  <p>kimdotcom</p>
  
  <br><br><br>

  
  <div class="gallery">
    <a href="https://www.instagram.com/moisei_mag/p/DSNBiGziL-2/" target="_blank">
      <div class="blur-load" style="background-image: url(static/images/ex2-small.jpg)">  
        <img
          src="static/images/ex2.png"
          loading="lazy"
          decoding="async"
          alt="ex2">
      </div>
    </a>

    <a href="https://www.instagram.com/moisei_mag/p/DSfKWb2CKRF/" target="_blank">
    <div class="blur-load" style="background-image: url(static/images/ex3-small.jpg)">
      <img
        src="static/images/ex3.png"
        loading="lazy"
        decoding="async"
        alt="ex2">
    </div>
    </a>
    
    <a href="https://www.instagram.com/moisei_mag/p/DTKxWhlCGB4/" target="_blank">
    <div class="blur-load" style="background-image: url(static/images/issue24-small.jpg)">
      <img
        src="static/images/issue24.png"
        loading="lazy"
        decoding="async"
        alt="ex2">
    </div>
    </a>

    <a href="https://www.instagram.com/moisei_mag/p/DTaXRPvCML9/" target="_blank">
    <div class="blur-load" style="background-image: url(static/images/issue25-small.jpg)">
      <img
        src="static/images/issue25.png"
        loading="lazy"
        decoding="async"
        alt="ex2">
    </div>
    </a>

    <a href="https://www.instagram.com/moisei_mag/p/DTij4XYCIjx/" target="_blank">
    <div class="blur-load" style="background-image: url(static/images/issue26-small.jpg)">
      <img
        src="static/images/issue26.png"
        loading="lazy"
        decoding="async"
        alt="ex2">
    </div>
    </a>

    <a href="https://www.instagram.com/moisei_mag/p/DT_AkD2iLLf/" target="_blank">
    <div class="blur-load" style="background-image: url(static/images/issue27-small.jpg)">
      <img
        src="static/images/issue27.png"
        loading="lazy"
        decoding="async"
        alt="ex2">
    </div>
    </a>
    
    <a href="https://www.instagram.com/moisei_mag/p/DUOUdcdiHzK/" target="_blank">
    <div class="blur-load" style="background-image: url(static/images/issue28-small.jpg)">
      <img
        src="static/images/issue28.png"
        loading="lazy"
        decoding="async"
        alt="ex2">
    </div>
    </a>
    
    <a href="https://www.instagram.com/moisei_mag/p/DRh5J-VCDay/" target="_blank">
    <div class="blur-load" style="background-image: url(static/images/daniel-small.jpg)">
      <img
        src="static/images/daniel_arnold.png"
        loading="lazy"
        decoding="async"
        alt="ex2">
    </div>
    </a>
    
        <a href="https://www.instagram.com/moisei_mag/p/DSsLjl_iMTh/" target="_blank">
    <div class="blur-load" style="background-image: url(static/images/lotta-small.jpg)">
      <img
        src="static/images/lotta_lavanti.png"
        loading="lazy"
        decoding="async"
        alt="ex2">
    </div>
    </a>

  </div>

    <br><br>
    <h1>Contact options</h1>
  <p>Head of Moisei Magazine : <a href="mailto:kimx2020@gmail.com?subject=Moisei%20Magazine%20Inquiry">Contact</a></p>


{% endblock %}

